<%- include('../includes/auth-head.ejs') %>

  <main>

    <div class="auth-panel">

      <% if (typeof isEmailSent !== 'undefined' && isEmailSent) { %>

        <header>
          <h1>Reset your password</h1>
          <p>Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.</p>
          <a href="login"><button>Return to sign in</button></a>
        </header>

      <% } else { %>

        <form name="reset-password-form" action="/reset-password" method="POST">
          <header>
            <h1>Reset your password</h1>
            <p>Enter your user account's verified email address and you will receive a password reset link.</p>
          </header>
          <!-- User email input -->
          <label for="user-email">Email</label><br>
          <input type="text" id="user-email" name="userEmail" class="registration-input" value="<%= 
            typeof inputs !== 'undefined' ? inputs.userEmail : '' 
          %>">
          <br><label for="user-email" id="user-email-error" style="color: red;"></label>
          <br>

          <input type="submit" id="form-submit-btn" name="formSubmitBtn" value="Send email" >
        </form>
        <br>
        <label for="" id="reset-password-error" style="color: red;"><%= typeof errors !== 'undefined' ? errors : '' %></label>

      <% } %>

    </div>

  </main>
  
<%- include('../includes/auth-footer.ejs') %>