<%- include('../includes/main-head.ejs') %>

<!-- STYLES -->
<link rel="stylesheet" href="/styles/games.css">
  
  <main>

    <h1>Playfab - Games</h1>

    <nav id="platforms-top-bar">
      <a href="" class="">Web games</a>
      <p> | </p>
      <a href="" class="">Android</a>
    </nav>

    <div id="games-container">

      <a href="/games/checkers">
        <div class="game-thumb">
          <p>Checkers</p>
          <img src="/assets/img/games-thumbs/checkers.jpeg" alt="">
        </div>
      </a>

    </div>

  </main>

<%- include('../includes/main-footer.ejs') %>