<%- include('../includes/main-head.ejs') %>

<!-- STYLES -->
<!-- <link rel="stylesheet" href="/styles/profile-settings.css"> -->
<!-- SCRIPTS -->
<script src="/scripts/auth-registration-form.js" defer></script>

  <main>

    <a href="/profile/settings"><- Account Management</a>

    <header>
      <h1>Birthday</h1>
    </header>

    <label for="birthday-form" id="form-error" style="color: red;"><% %></label>

    <form name="birthdayForm" action="/profile-birthday" method="POST" id="birthday-form">
      <p></p>       
      <!-- User birthday input -->
      <label for="user-birthday">Set date</label><br>
      <input type="date" name="userBirthday" id="user-birthday">
      <br><label for="user-birthday" id="birthday-name-error" style="color: red;"><% %></label>
      <br>

      <% %>

        <p>You can remove your date of birth.</p>
        <input type="submit" id="form-submit-btn" name="delSubmitBtn" value="Remove date of birth" >

      <% %>

        <input type="submit" id="form-submit-btn" name="setSubmitBtn" value="Change" >
        
      <% %>

    </form>

  </main>
  
<%- include('../includes/main-footer.ejs') %>